*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

/* Header start*/
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.bg-vdo {
    z-index: -2;
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
}
.cover {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(16, 34, 139, 0.153);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.215);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 15px  rgba(211, 211, 211, 0.249);
    z-index: 999;
}
header ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 30px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.01) ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 0 5px  rgba(211, 211, 211, 0.249);
}
.logo-name {
    font-size: 32px;
    font-weight: bold;
}
header ul a {
    font-weight: 700;
    text-decoration: none;
    /* color:rgba(18, 18, 18, 0.784); */
    color:white;
    margin: 0 10px;
    transition: 0.3s;
}
header > ul > li {
    list-style-type: none;

}

header ul li a:hover {
    /* color: rgba(4, 58, 55, 0.812);
    box-shadow:  15px  rgba(35, 123, 177, 0.622); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: linear-gradient(to right , #008baa, #7e43a7, #6600c6, #6070fd, #0099ff, #008ead);
    border-radius: 10px;
    padding: 4px;
}
.purple {
    
    color: blueviolet;
}
.blue {
    color: skyblue;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.box-icon {
    display: flex;
    gap: 40px;
}
.box-icon > p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid  rgba(211, 211, 211, 0.249);
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.box-icon > p:hover {
    color: skyblue;
    box-shadow: 0 0 15px  rgba(211, 211, 211, 0.249);
    background-image: linear-gradient(to right , #008baa, #7e43a7, #6600c6, #6070fd, #0099ff, #008ead);
}
/* Header end */

/* Blackhole Effect start */
.blackhole {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1;
    mix-blend-mode: lighten;
}
.blackhole > video {
    width: 100%;
    margin-top: -23.5%;
}
/* Blackhole Effect End */

/* --------------------- */
/* Main section */
/* --------------------- */


/* hero section */
/* .hero {
    position: absolute;
    top: 250px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 1;
    text-align: start;
} */
.hero {
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}
.hero-info {
    position: absolute;
    left: 5%;
}
.hero-name {
    color: #72a1de;
    padding: 5px 8px;
    border-radius: 10px;
    border: 1px solid #72a1de94;
    width: 330px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de;
}
.hero-title {
    font-size: 60px;
    max-width: 600px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.hero-sub {
    font-size: 20px;
    max-width: 750px;
    line-height: 25px;
    margin-bottom: 40px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4px;
    color: #72a1de;
    font-size: 18px;
    padding: 10px 24px;
    border-radius: 10px;
    border: 1px solid #72a1de81;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de;
    cursor: pointer;
}
.btn:hover {
   box-shadow: 0 0 15px #72a1de81 ;
}
.gradient {
    background-image: linear-gradient(to right , #008baa, #7e43a7, #6600c6, #6070fd, #0099ff, #008ead);
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}
.astronaut {
    position: absolute;
    right: 5%;
    height: 400px;
    mix-blend-mode: lighten;
}
/* About Section */
.about {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    padding-right: 60px;
}
.card-info {
    display: flex;
    align-items: center;
    max-width: 120px;
}
.card-info > h1 {
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
}
.card-info > p {
    font-size: 20px;
    /* color: white; */
}




    
    